{{ if image }}
  <div class="swiper mySwiper h-96 mb-6 relative rounded-t-lg shadow-md overflow-hidden" data-aos="zoom-in">
    <div class="swiper-wrapper">

      {{ if image is iterable }}
        {{ image }}
          <div class="swiper-slide">
            <img src="/assets/images/{{ value }}" alt="{{ title }}" class="h-96 w-full object-cover" loading="lazy" />
          </div>
        {{ /image }}
      {{ else }}
        <div class="swiper-slide">
          <img src="/assets/images/{{ image }}" alt="{{ title }}" class="h-96 w-full object-cover" loading="lazy" />
        </div>
      {{ /if }}

    </div>

    <!-- Swiper Nav Buttons -->
    <div class="flex gap-2 absolute bottom-5 left-5 z-10">
      <div class="swiper-button-prev1 bg-white text-black rounded-md w-7 h-7 flex items-center justify-center shadow hover:bg-gray-100 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="#000">
          <path d="M400-240 160-480l240-240 56 58-142 142h486v80H314l142 142-56 58Z"/>
        </svg>
      </div>
      <div class="swiper-button-next1 bg-white text-black rounded-md w-7 h-7 flex items-center justify-center shadow hover:bg-gray-100 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="#000">
          <path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"/>
        </svg>
      </div>
    </div>
  </div>
{{ /if }}
