 <div class="swiper mySwiper mb-6 h-[500px] relative rounded-md shadow-md overflow-hidden" data-aos="zoom-in">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          {{ if image }}
          <img src="/assets/images/{{ image[0] }}" alt="{{ title }}" class="h-[500px] w-full object-cover rounded-md shadow-md" crossorigin="anonymous" />
          {{ else }}
          <img src="https://via.placeholder.com/600x400?text=No+Image" alt="No Image" class="h-[500px] w-full object-cover rounded-md shadow-md" crossorigin="anonymous" />
          {{ /if }}
        </div>
        <div class="swiper-slide">
          {{ if image }}
          <img src="/assets/images/{{ image[0] }}" alt="{{ title }}" class="h-[500px] w-full object-cover rounded-md shadow-md" crossorigin="anonymous" />
          {{ else }}
          <img src="https://via.placeholder.com/600x400?text=No+Image" alt="No Image" class="h-[500px] w-full object-cover rounded-md shadow-md" crossorigin="anonymous" />
          {{ /if }}
        </div>
      </div>

      <!-- Swiper Nav Buttons -->
      <div class="flex gap-2 absolute bottom-5 left-5 z-10">
        <div class="swiper-button-prev1 bg-white text-black rounded-md w-7 h-7 flex items-center justify-center shadow hover:bg-gray-100">
          <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="#000">
            <path d="M400-240 160-480l240-240 56 58-142 142h486v80H314l142 142-56 58Z"/>
          </svg>
        </div>
        <div class="swiper-button-next1 bg-white text-black rounded-md w-7 h-7 flex items-center justify-center shadow hover:bg-gray-100">
          <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="#000">
            <path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"/>
          </svg>
        </div>
      </div>
    </div>


<!-- Swiper Initialization Script -->
<script>
    new Swiper(".mySwiper", {
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next1",
        prevEl: ".swiper-button-prev1",
      },
      pagination: {
        el: ".swiper-pagination",
      },
      keyboard: true,
    });
  </script>